{
    "include": [
        "ts/**/*.ts",
        "ts/universalValidators.js"
    ],
    "extension": [
        ".js",
        ".ts"
    ],
    "exclude": [
        "test/"
    ],
    "reporter": [
        "text",
        "html",
        "lcov"
    ],
    "sourceMap": true
}
