form( method: 'POST', action: '/User/login' )
  label( for: 'login_name' ) Name
  input#login_name( type: 'text', name: 'name' )
  label( for: 'login_pwd' ) Password
  input#login_pwd( type: 'password', name: 'password' )
  input( type: 'submit', value: 'Login' )