@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000312}}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000323}}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000327}}
nav ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000329}}
blockquote, q {
  quotes: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000332}}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000334}}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000336}}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000338}}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000340}}
del {
  text-decoration: line-through; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000342}}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000345}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000347}}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000349}}
input, select {
  vertical-align: baseline; }

/* END RESET CSS */
/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000361}}
body {
  font: 13px/1.231 sans-serif;
  *font-size: small; }

/* hack retained to preserve specificity */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000363}}
select, input, textarea, button {
  font: 99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000368}}
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* 
 * minimal base styles 
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000376}}
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* set your base font here, to apply evenly */
  font-family: Georgia, serif; }

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000385}}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

/* always force a scrollbar in non-IE */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000388}}
html {
  overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000392}}
a:hover, a:active {
  outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000394}}
a, a:active, a:visited {
  color: #607890; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000395}}
a:hover {
  color: #036; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000398}}
ul, ol {
  margin-left: 0em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\0000399}}
ol {
  list-style-type: decimal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003101}}
small {
  font-size: 85%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003102}}
strong, th {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003104}}
td, td img {
  vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003106}}
sub {
  vertical-align: sub;
  font-size: smaller; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003107}}
sup {
  vertical-align: super;
  font-size: smaller; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003109}}
pre {
  padding: 15px;
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003119}}
textarea {
  overflow: auto; }

/* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003121}}
.ie6 legend, .ie7 legend {
  margin-left: -7px; }

/* thnx ivannikolic! */
/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003125}}
input[type="radio"] {
  vertical-align: text-bottom; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003126}}
input[type="checkbox"] {
  vertical-align: bottom; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003127}}
.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003128}}
.ie6 input {
  vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003131}}
label, input[type=button], input[type=submit], button {
  cursor: pointer; }

/* webkit browsers add a 2px margin outside the chrome of form elements */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003134}}
button, input, select, textarea {
  margin: 0; }

/* colors for form validity */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003138}}
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003145}}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003151}}
::-moz-selection {
  background: #3399ff;
  color: #fff;
  text-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003152}}
::selection {
  background: #3399ff;
  color: #fff;
  text-shadow: none; }

/*  j.mp/webkit-tap-highlight-color */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003155}}
a:link {
  -webkit-tap-highlight-color: #FF5E99; }

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003159}}
button {
  width: auto;
  overflow: visible; }

/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003163}}
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* 
 * Non-semantic helper classes 
 */
/* for image replacement */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003172}}
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003176}}
.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/ 
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003181}}
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003186}}
.invisible {
  visibility: hidden; }

/* >> The Magnificent CLEARFIX << j.mp/phayesclearfix */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003189}}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003191}}
.clearfix {
  zoom: 1; }

/* Primary Styles
   Author: 
*/
/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003217}}
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003219}}
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003221}}
  a:after {
    content: " (" attr(href) ")"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003223}}
  abbr:after {
    content: " (" attr(title) ")"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003225}}
  .ir a:after {
    content: ""; }

  /* Don't show links for images */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003227}}
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003229}}
  thead {
    display: table-header-group; }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003231}}
  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003235}}
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/_boilerplate\.scss}line{font-family:\00003237}}
  h2, h3 {
    page-break-after: avoid; } }

/*
 * Media queries for responsive design
 */
@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */ }

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */ }

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/style\.scss}line{font-family:\000033}}
header, footer, aside, nav, article, div {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/style\.scss}line{font-family:\000037}}
ul {
  list-style-type: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/style\.scss}line{font-family:\0000310}}
* {
  margin: 0;
  padding: 0;
  font-size: 9pt;
  font-family: Tahoma, Arial, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/style\.scss}line{font-family:\0000317}}
body {
  padding: 0 2% 0 1%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/style\.scss}line{font-family:\0000320}}
form label:after {
  content: ": "; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/maritz\/repos\/nohm\/admin\/public\/css\/default\/style\.scss}line{font-family:\0000323}}
.clear {
  clear: both;
  zoom: 1; }
