@import "_boilerplate.scss";

body {
  padding: 0 2% 0 1%; }

ul {
  list-style-type: none;
}

a:hover {
  cursor: pointer;
}

form label:after {
  content: ": "; }

table.model_properties {
  border-collapse: collapse;
  tr {
    border-bottom: 1px solid black;
    td {
      padding: 0 5px;
    }
    td+td {
      border-left: 1px solid grey;
    }
  }
}

ul.col {
  li:hover {
    background-color: #ddffff;
  }
}

ul.columnize {
  width: 100%;
  li li:hover {
    background-color: #ddffff;
  }
}

dt {
  font-weight: bold;
}

dd {
  margin: {
    bottom: 10px;
    left: 15px;
  }
}