!!! 5
!= '<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->'
!= '<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->'
!= '<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->'
!= '<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->'
!= '<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->'
  head
    meta( charset: 'utf-8' )
    meta( name: 'author', content: 'Moritz Peters')
    meta( name: 'description', content: 'Nohm admin inteface.')
    title nohm Admin
    link( rel: 'stylesheet', href: '/css/default/style.css' )
    script( src: 'js/modernizr-1.5.min.js' )
  body
    != body

    script( src: '//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' )
    :javascript
      !window.jQuery && document.write(unescape('%3Cscript src="js/jquery-1.4.2.min.js"%3E%3C/script%3E'))
    script( src: '/js/main.js' )

    !='<!--[if lt IE 7 ]>'
      script( src: 'js/dd_belatedpng.js' )
      script
        !="DD_belatedPNG.fix('img, .png_bg');"
    !='<![endif]-->'

!='</html>'